absl_py==2.3.1
absl_py==2.4.0
accelerate==1.12.0
aenum==3.1.16
affine==2.4.0
aiobotocore==2.16.1
aiobotocore==3.1.2
aiofiles==25.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aioitertools==0.13.0
aiokafka==0.13.0
aiosignal==1.4.0
aiosqlite==0.22.1
alabaster==1.0.0
albucore==0.0.36
albucore==0.0.24
albumentations==2.0.8
alembic==1.18.1
altgraph==0.17.5
annotated_doc==0.0.4
annotated_types==0.7.0
ansicolors==1.1.8
anthropic==0.71.0
antlr4_python3_runtime==4.9.3
anyio==4.12.1
anyio==4.13.0
appdirs==1.4.4
appengine_python_standard==1.1.10
argon2_cffi==25.1.0
argon2_cffi_bindings==25.1.0
arrow==1.4.0
asgiref==3.11.0
astor==0.8.1
astroid==4.0.3
asttokens==3.0.1
astunparse==1.6.3
async_lru==2.0.5
asyncpg==0.31.0
async_timeout==5.0.1
attr==0.3.2
attrs==25.4.0
autoevals==0.0.130
autopep8==2.3.2
autopep8==2.0.4
babel==2.17.0
backoff==2.2.1
backports_zstd==1.3.0
bashlex==0.18
beautifulsoup4==4.14.3
beniget==0.4.2.post1
bigtree==1.1.0
bitsandbytes==0.49.1
black==25.12.0
blake3==1.0.8
bleach==6.3.0
blinker==1.9.0
blis==1.3.3
bokeh==3.8.2
boto3==1.42.24
boto3==1.42.25
boto3==1.42.19
boto3==1.35.42
boto3==1.35.88
boto3==1.42.23
boto3==1.42.26
boto3==1.42.27
boto3==1.42.28
boto3==1.42.29
boto3==1.42.36
botocore==1.42.24
botocore==1.42.25
botocore==1.35.99
botocore==1.35.88
botocore==1.42.23
botocore==1.42.26
botocore==1.42.27
botocore==1.42.29
botocore==1.42.36
botocore==1.42.28
botocore==1.42.19
bracex==2.6
branca==0.8.2
brotli==1.2.0
build==1.3.0
build==1.4.0
build==1.5.0
cachetools==6.2.4
cachetools==6.2.6
calver==2025.10.20
cartopy==0.25.0
catalogue==2.0.10
cattrs==25.3.0
cbor2==5.8.0
certifi==2026.1.4
cffi==1.17.1
cffi==2.0.0
cfgv==3.5.0
chardet==5.2.0
charset_normalizer==3.4.4
chevron==0.14.0
cibuildwheel==3.3.1
click==8.1.8
click==8.3.1
click_plugins==1.1.1.2
cligj==0.7.2
cloudpathlib==0.23.0
cloudpickle==3.1.2
cmake==3.31.10
coherent_licensed==0.5.2
colorama==0.4.6
comm==0.2.3
compressed_tensors==0.12.2
confection==0.1.5
contextily==1.7.0
contourpy==1.3.3
coremltools==8.3.0
cppy==1.3.1
cryptography==46.0.3
cryptography==46.0.4
cryptography==46.0.5
cryptography==46.0.7
cut_cross_entropy==25.1.1
cycler==0.12.1
cymem==2.0.13
cython==3.2.4
cython==3.0.12
cython==3.1.8
cython==3.2.0
cython==3.1.8
cython==3.2.0
cython==3.0.12
cython==3.2.5
dask==2025.12.0
dask==2026.1.1
dask==2026.1.2
dask==2025.7.0
databricks_sdk==0.78.0
dataclasses_json==0.6.7
dataproperty==1.1.0
datasets==4.4.2
datasets==4.5.0
datasets==4.3.0
debugpy==1.8.19
decorator==5.2.1
deepspeed==0.18.4
defusedxml==0.7.1
delocate==0.13.0
dependency_groups==1.3.1
deprecated==1.3.1
deprecation==2.1.0
depyf==0.20.0
diffusers==0.36.0
dill==0.3.7
dill==0.4.0
dill==0.3.9
dill==0.4.1
diskcache==5.6.3
distlib==0.4.0
distro==1.9.0
dnspython==2.8.0
docker==7.1.0
docling==2.55.1
docling==2.66.0
docling==2.67.0
docling==2.68.0
docling_core==2.50.1
docling_core==2.57.0
docling_core==2.58.0
docling_core==2.58.1
docling_core==2.59.0
docling_ibm_models==3.10.3
docling_parse==4.7.2
docling_parse==4.7.3
docstring_parser==0.17.0
docstring_to_markdown==0.17
docutils==0.22.4
dunamai==1.25.0
durationpy==0.10
einops==0.8.1
einops==0.8.2
email_validator==2.3.0
entrypoints==0.4
et_xmlfile==2.0.0
evaluate==0.4.6
executing==2.2.1
expandvars==1.1.2
faiss_cpu==1.12.0
faker==40.1.0
faker==40.1.2
fastapi==0.115.14
fastapi==0.128.0
fastapi_cli==0.0.20
fastapi_cloud_cli==0.11.0
fastar==0.8.0
fastjsonschema==2.21.2
feast==0.58.0
filelock==3.20.2
filelock==3.20.3
filetype==1.2.0
fire==0.7.1
flake8==7.3.0
flake8==7.1.2
flask==3.1.2
flask_cors==6.0.2
flatbuffers==25.9.23
flit_core==3.12.0
folium==0.20.0
fonttools==4.61.1
fqdn==1.5.1
frozendict==2.4.7
frozenlist==1.8.0
fsspec==2025.10.0
fsspec==2025.12.0
fsspec==2025.9.0
fsspec==2026.1.0
fsspec==2026.2.0
gast==0.7.0
gast==0.6.0
geobenchv2==0.9
geographiclib==2.1
geojson==3.2.0
geopandas==1.1.2
geopy==2.4.1
gevent==25.9.1
geventhttpclient==2.3.7
geventhttpclient==2.0.2
geventhttpclient==2.3.7
geventhttpclient==2.0.2
geventhttpclient==2.3.7
geventhttpclient==2.0.2
gguf==0.17.1
gitdb==4.0.12
gitpython==3.1.46
google_api_core==2.28.1
google_api_core==2.29.0
googleapis_common_protos==1.72.0
google_auth==2.47.0
google_cloud_aiplatform==1.132.0
google_cloud_aiplatform==1.133.0
google_cloud_bigquery==3.39.0
google_cloud_bigquery==3.40.0
google_cloud_core==2.5.0
google_cloud_resource_manager==1.15.0
google_cloud_resource_manager==1.16.0
google_cloud_storage==3.7.0
google_cloud_storage==3.8.0
google_crc32c==1.8.0
google_genai==1.56.0
google_genai==1.57.0
google_genai==1.58.0
google_genai==1.59.0
google_pasta==0.2.0
google_resumable_media==2.8.0
graphene==3.4.3
graphql_core==3.2.7
graphql_relay==3.2.0
greenlet==3.2.4
greenlet==3.3.0
grpc_google_iam_v1==0.14.3
grpcio==1.76.0
grpcio_status==1.76.0
gunicorn==23.0.0
h11==0.16.0
h2==4.3.0
h5netcdf==1.8.1
h5py==3.15.1
hatch==1.16.2
hatch_fancy_pypi_readme==25.1.0
hatch_jupyter_builder==0.9.1
hatchling==1.26.3
hatchling==1.28.0
hatchling==1.29.0
hatchling==1.30.1
hatch_nodejs_version==0.4.0
hatch_requirements_txt==0.4.1
hatch_vcs==0.4.0
hatch_vcs==0.5.0
hf_transfer==0.1.9
hf_xet==1.2.0
hiredis==3.3.0
hjson==3.1.0
hpack==4.1.0
httpcore==1.0.9
httptools==0.7.1
httpx==0.28.1
httpx_sse==0.4.3
huey==2.6.0
huggingface_hub==1.2.4
huggingface_hub==1.3.1
huggingface_hub==1.3.2
huggingface_hub==1.3.4
huggingface_hub==0.36.0
huggingface_hub==1.4.1
humanize==4.15.0
hydra_core==1.3.2
hyperframe==6.1.0
hyperlink==21.0.0
id==1.5.0
identify==2.6.15
identify==2.6.16
idna==3.11
idna==3.18
ijson==3.4.0.post0
imageio==2.37.2
imagesize==1.4.1
importlib_metadata==8.7.1
importlib_resources==6.5.2
iniconfig==2.3.0
instructlab_training==0.13.0
instructor==1.13.0
instructor==1.14.1
instructor==1.14.3
intel_cmplr_lib_ur==2024.2.1
intel_openmp==2024.2.1
interegular==0.3.3
ipykernel==7.1.0
ipython==9.9.0
ipython_genutils==0.2.0
ipython_pygments_lexers==1.1.1
ipywidgets==8.1.8
isoduration==20.11.0
isort==7.0.0
itsdangerous==2.2.0
its_hub==0.3.5
jaraco_classes==3.4.0
jaraco_context==6.0.2
jaraco_context==6.1.0
jaraco_functools==4.4.0
jedi==0.19.2
jeepney==0.9.0
jinja2==3.1.6
jiter==0.11.1
jiter==0.12.0
jiter==0.11.1
jiter==0.12.0
jmespath==1.0.1
jmespath==1.1.0
joblib==1.5.3
joblib==1.5.2
jpype1==1.5.0
json5==0.13.0
jsonargparse==4.45.0
jsonargparse==4.46.0
jsonlines==4.0.0
jsonpatch==1.33
jsonpointer==3.0.0
jsonref==1.1.0
jsonschema==4.25.1
jsonschema==4.26.0
jsonschema_specifications==2025.9.1
jupyter_bokeh==4.0.5
jupyter_client==8.7.0
jupyter_client==8.8.0
jupyter_core==5.9.1
jupyter_events==0.12.0
jupyterlab==4.5.1
jupyterlab==4.6.0a0
jupyterlab==4.6.0a1
jupyterlab==4.5.2
jupyterlab_git==0.51.4
jupyterlab_lsp==5.2.0
jupyterlab_lsp==5.1.1
jupyterlab_pygments==0.3.0
jupyterlab_server==2.28.0
jupyterlab_widgets==3.0.16
jupyter_lsp==2.3.0
jupyter_packaging==0.12.3
jupyter_packaging==0.10.6
jupyter_resource_usage==1.2.0
jupyter_resource_usage==1.1.1
jupyter_server==2.17.0
jupyter_server_mathjax==0.2.6
jupyter_server_proxy==4.4.0
jupyter_server_terminals==0.5.3
jupyter_server_terminals==0.5.4
kafka_python_ng==2.2.3
keras==3.13.0
keras==3.13.1
keyring==25.7.0
kfp==2.15.2
kfp_kubernetes==2.14.6
kfp_kubernetes==2.15.2
kfp_pipeline_spec==2.15.2
kfp_server_api==2.15.2
kiwisolver==1.4.9
kornia==0.8.2
kornia_rs==0.1.10
kubeflow==0.2.1+rhai2
kubeflow_katib_api==0.19.0
kubeflow_trainer_api==2.1.0
kubeflow_training==1.9.3
kubernetes==34.1.0
kubernetes==35.0.0a1
kubernetes==35.0.0
langchain==1.2.1
langchain==1.2.2
langchain==1.2.3
langchain==0.3.27
langchain_classic==1.0.1
langchain_community==0.4.1
langchain_community==0.3.31
langchain_core==1.2.6
langchain_core==1.2.7
langchain_core==0.3.83
langchain_openai==1.1.6
langchain_openai==1.1.7
langchain_openai==0.3.35
langchain_text_splitters==1.1.0
langchain_text_splitters==0.3.11
langgraph==1.0.5
langgraph==1.0.6
langgraph_checkpoint==3.0.1
langgraph_checkpoint==4.0.0
langgraph_prebuilt==1.0.5
langgraph_prebuilt==1.0.6
langgraph_sdk==0.3.1
langgraph_sdk==0.3.2
langgraph_sdk==0.3.3
langsmith==0.6.1
langsmith==0.6.2
langsmith==0.6.3
langsmith==0.6.4
lark==1.3.1
lark==1.2.2
latex2mathml==3.78.1
lazy_loader==0.4
legacy_cgi==2.6.4
libclang==18.1.1
libnacl==2.1.0
librt==0.7.7
librt==0.7.8
lightgbm==4.6.0
lightly==1.5.22
lightly_utils==0.0.2
lightning==2.6.0
lightning_utilities==0.15.2
litellm==1.75.8
litellm==1.74.15
llama_stack==0.3.0rc1+rhai0
llama_stack==0.4.1+rhai0
llama_stack==0.4.2+rhai0
llama_stack_api==0.4.1
llama_stack_api==0.4.2
llama_stack_client==0.4.0
llama_stack_client==0.4.1
llama_stack_client==0.4.2
llama_stack_provider_lmeval==0.3.1
llama_stack_provider_lmeval==0.4.2
llama_stack_provider_ragas==0.4.1
llama_stack_provider_ragas==0.5.1
llama_stack_provider_trustyai_fms==0.2.3
llama_stack_provider_trustyai_fms==0.3.2
llama_stack_provider_trustyai_garak==0.1.8
llguidance==1.3.0
llvmlite==0.46.0
llvmlite==0.44.0
lm_eval==0.4.9.2
lm_format_enforcer==0.11.3
locket==1.0.0
loguru==0.7.3
lxml==5.4.0
lxml==6.0.2
lxml==5.4.0
lxml==6.0.2
lxml==5.4.0
lxml==6.0.2
macholib==1.16.4
mako==1.3.10
markdown==3.10
markdown==3.10.1
markdown_it_py==4.0.0
marko==2.2.2
markupsafe==3.0.3
marshmallow==3.26.2
matplotlib==3.10.8
matplotlib_inline==0.2.1
maturin==1.11.2
maturin==1.11.3
maturin==1.11.4
maturin==1.11.5
maturin==1.12.6
mbstrdecoder==1.1.4
mccabe==0.7.0
mcp==1.25.0
mcp==1.26.0
mdurl==0.1.2
mercantile==1.2.1
meson==1.2.1
meson==1.10.0
meson==1.10.1
meson==1.11.0
meson_python==0.13.1
meson_python==0.15.0
meson_python==0.18.0
meson_python==0.19.0
meson_python==0.16.0
meson_python==0.20.0
micropipenv==1.10.0
milvus_lite==2.5.1
minio==7.2.20
mistral_common==1.8.8
mistral_common==1.8.5
mistune==3.2.0
ml_dtypes==0.5.4
mlflow==3.8.1
mlflow_skinny==3.8.1
mlflow_tracing==3.8.1
mlserver==1.7.1+rhai5
mlserver_lightgbm==1.7.1+rhai5
mlserver_sklearn==1.7.1+rhai5
mlserver_xgboost==1.7.1+rhai5
mmh3==5.2.0
mock==5.2.0
model_hosting_container_standards==0.1.13
more_itertools==10.8.0
mpire==2.10.2
mpmath==1.3.0
msgpack==1.1.2
msgspec==0.20.0
multidict==6.7.0
multidict==6.7.1
multiprocess==0.70.16
murmurhash==1.0.15
mypy==1.19.1
mypy_extensions==1.1.0
mysql_connector_python==9.5.0
namex==0.1.0
nanobind==2.10.2
nanobind==2.5.0
narwhals==2.15.0
nbclient==0.10.4
nbconvert==7.16.6
nbdime==4.0.2
nbdime==4.0.3
nbformat==5.10.4
nbgitpuller==1.2.2
nest_asyncio==1.6.0
networkx==3.6.1
nh3==0.3.2
ninja==1.11.1.1
nltk==3.9.2
nodeenv==1.10.0
notebook_shim==0.2.4
numba==0.63.1
numba==0.61.2
numexpr==2.14.1
numpy==1.26.4
numpy==2.4.0
numpy==1.26.4
numpy==2.4.0
numpy==2.3.5
numpy==2.0.2
numpy==2.4.0
numpy==2.4.1
numpy==2.0.2
numpy==2.3.5
numpy==2.0.2
numpy==2.4.1
numpy==2.2.6
numpy==2.4.1
numpy==2.2.6
numpy==2.0.2
numpy==2.3.5
numpy==2.4.2
numpy==2.4.6
oauthlib==3.3.1
odh_elyra==4.3.2
odh_jupyter_trash_cleanup==0.1.1
omegaconf==2.3.0
onnx==1.20.0
onnxconverter_common==1.14.0
onnxconverter_common==1.16.0
openai==2.14.0
openai==2.15.0
openai==2.16.0
openai_harmony==0.0.8
opencensus==0.11.4
opencensus_context==0.1.3
opencv_python_headless==4.12.0.88
opencv_python_headless==4.13.0.92
openpyxl==3.1.5
opentelemetry_api==1.39.1
opentelemetry_exporter_otlp==1.39.1
opentelemetry_exporter_otlp_proto_common==1.39.1
opentelemetry_exporter_otlp_proto_grpc==1.39.1
opentelemetry_exporter_otlp_proto_http==1.39.1
opentelemetry_instrumentation==0.60b1
opentelemetry_instrumentation_asgi==0.60b1
opentelemetry_instrumentation_fastapi==0.60b1
opentelemetry_instrumentation_grpc==0.60b1
opentelemetry_proto==1.39.1
opentelemetry_sdk==1.39.1
opentelemetry_semantic_conventions==0.60b1
opentelemetry_util_http==0.60b1
opt_einsum==3.4.0
optree==0.18.0
orjson==3.11.5
ormsgpack==1.12.1
outlines_core==0.2.11
packaging==25.0
packaging==26.0
packaging==26.2
pandas==2.2.3
pandas==2.3.3
pandas==2.2.3
pandas==3.0.0
pandas==2.3.3
pandocfilters==1.5.1
papermill==2.6.0
parso==0.8.5
partd==1.4.2
partial_json_parser==0.2.1.1.post7
patchelf==0.17.2.4
pathspec==1.0.1
pathspec==1.0.2
pathspec==1.0.3
pathspec==1.0.4
pathspec==1.1.1
pathvalidate==3.3.1
pdm_backend==2.4.6
pdm_pep517==1.1.4
peft==0.18.0
peft==0.18.1
pexpect==4.9.0
pillow==11.3.0
pillow==12.1.0
pillow==11.3.0
pillow==12.1.0
pillow==12.1.1
pip==25.3
pkgconfig==1.5.5
pkginfo==1.12.1.2
platformdirs==4.5.1
plotly==6.5.0
plotly==6.5.1
plotly==6.5.2
pluggy==1.6.0
ply==3.11
poetry_core==2.2.1
poetry_core==1.9.1
poetry_core==2.3.0
poetry_core==2.3.1
poetry_dynamic_versioning==1.9.1
polars==1.31.0
polyfactory==3.2.0
polyleven==0.9.0
portalocker==3.2.0
pre_commit==4.5.1
preshed==3.0.12
prometheus_client==0.23.1
prometheus_client==0.24.0
prometheus_client==0.24.1
prometheus_fastapi_instrumentator==7.1.0
prompt_toolkit==3.0.52
propcache==0.4.1
protobuf==6.33.2
protobuf==3.20.3
protobuf==6.33.2
protobuf==3.20.2
protobuf==6.33.3
protobuf==6.33.4
proto_plus==1.27.0
psutil==5.9.8
psutil==7.2.1
psutil==5.9.8
psutil==7.2.1
psycopg==3.3.2
psycopg2_binary==2.9.11
ptyprocess==0.7.0
pure_eval==0.2.3
pyaml==25.7.0
pyarrow==21.0.0
pyarrow==22.0.0
pyarrow==21.0.0
pyarrow==22.0.0
pyarrow==21.0.0
pyarrow==22.0.0
pyarrow==23.0.0
pyarrow==23.0.1
pyasn1==0.6.1
pyasn1==0.6.2
pyasn1_modules==0.4.2
pybase64==1.4.3
pybind11==3.0.1
pybind11_global==3.0.1
pybindgen==0.22.0
pycocotools==2.0.11
pycodestyle==2.14.0
pycodestyle==2.12.1
pycountry==24.6.1
pycparser==2.23
pycparser==3.0
py_cpuinfo==9.0.0
pycryptodome==3.23.0
pydantic==2.12.5
pydantic_core==2.41.5
pydantic_extra_types==2.11.0
pydantic_settings==2.12.0
pydocstyle==6.3.0
pyelftools==0.32
pyflakes==3.4.0
pyflakes==3.2.0
pygithub==2.8.1
pygments==2.19.2
py_grpc_prometheus==0.8.0
pyjwt==2.10.1
pylatexenc==2.10
pylint==4.0.4
pymilvus==2.6.6
pymongo==4.15.5
pymongo==4.16.0
pynacl==1.6.2
pyodbc==5.3.0
pyogrio==0.12.1
pyparsing==3.3.1
pyparsing==3.3.2
pypdf==6.13.3
pypdf==6.6.0
pypdfium2==4.30.0
pyproj==3.7.2
pyproject_hooks==1.2.0
pyproject_metadata==0.10.0
pyproject_metadata==0.11.0
pyshp==3.0.3
py_spy==0.4.1
pystac==1.14.3
pystac_client==0.9.0
pytablewriter==1.2.1
pytest==9.0.2
pytest_runner==6.0.1
python_box==7.3.2
python_dateutil==2.9.0.post0
python_docx==1.2.0
python_dotenv==1.2.1
python_dotenv==1.2.2
python_json_logger==4.0.0
python_lsp_jsonrpc==1.1.2
python_lsp_server==1.14.0
python_multipart==0.0.21
python_multipart==0.0.22
python_pptx==1.0.2
python_rapidjson==1.23
pythran==0.18.1
pytokens==0.3.0
pytoolconfig==1.3.1
pytorch_lightning==2.6.0
pytortilla==0.5.1
pytz==2025.2
pyyaml==6.0.3
pyzmq==27.1.0
qdrant_client==1.16.2
ragas==0.3.0
ragas==0.4.2
ragas==0.4.3
rasterio==1.5.0
rasterio==1.4.3
readme_renderer==44.0
redis==7.1.0
referencing==0.37.0
regex==2025.11.3
regex==2026.1.15
requests==2.32.5
requests_oauthlib==2.0.0
requests_toolbelt==1.0.0
retrying==1.4.2
reward_hub==0.1.9
rfc3339_validator==0.1.4
rfc3986==2.0.0
rfc3986_validator==0.1.1
rfc3987_syntax==1.1.0
rhai_innovation_mini_trainer==0.5.0
rich==14.2.0
rich==14.3.1
rich_toolkit==0.17.1
rignore==0.7.6
rioxarray==0.21.0
rioxarray==0.19.0
roman_numerals==4.1.0
rope==1.14.0
rouge_score==0.1.2
rpds_py==0.30.0
rsa==4.9.1
rtree==1.4.1
ruamel_yaml==0.19.1
s3fs==2025.12.0
s3fs==2026.1.0
s3fs==2025.10.0
s3fs==2026.2.0
s3transfer==0.10.4
s3transfer==0.16.0
sacrebleu==2.5.1
sacrebleu==2.6.0
safetensors==0.7.0
scikit_build==0.18.1
scikit_build_core==0.11.6
scikit_build_core==0.12.2
scikit_image==0.26.0
scikit_learn==1.8.0
scikit_network==0.33.5
scipy==1.16.3
scipy==1.17.0
scipy==1.16.3
scipy==1.17.0
scipy==1.16.3
scipy==1.17.0
scipy==1.16.3
sdg_hub==0.7.2
secretstorage==3.5.0
segmentation_models_pytorch==0.5.0
semantic_version==2.10.0
semchunk==2.2.2
send2trash==2.0.0
send2trash==2.1.0
sentencepiece==0.2.1
sentence_transformers==5.2.0
sentinelhub==3.11.1
sentry_sdk==2.51.0
setproctitle==1.3.7
setuptools==80.9.0
setuptools==69.5.1
setuptools==79.0.1
setuptools_git_versioning==2.1.0
setuptools_git_versioning==3.0.1
setuptools_rust==1.12.0
setuptools_scm==9.2.2
setuptools_scm==9.2.0
setuptools_scm==8.2.0
setuptools_scm==7.1.0
setuptools_scm==10.0.5
shapely==2.1.2
shellingham==1.5.4
simpervisor==1.0.0
simpleeval==1.0.3
simsimd==6.5.12
six==1.17.0
skl2onnx==1.19.1
smart_open==7.5.0
smmap==5.0.2
sniffio==1.3.1
snowballstemmer==3.0.1
soupsieve==2.8.1
spacy==3.8.11
spacy_legacy==3.0.12
spacy_loggers==1.0.5
sphinx==9.1.0
sphinxcontrib_applehelp==2.0.0
sphinxcontrib_devhelp==2.0.0
sphinxcontrib_htmlhelp==2.1.0
sphinxcontrib_jsmath==1.0.1
sphinxcontrib_qthelp==2.0.0
sphinxcontrib_serializinghtml==2.0.0
sqlalchemy==2.0.45
sqlitedict==2.1.0
sqlparse==0.5.5
srsly==2.5.2
sse_starlette==3.1.2
sse_starlette==3.2.0
stack_data==0.6.3
stackstac==0.5.1
starlette==0.46.2
starlette==0.51.0
starlette==0.52.1
starlette==0.50.0
starlette==1.2.0
starlette_exporter==0.23.0
stringzilla==4.6.0
supervisor==4.3.0
sympy==1.14.0
tabledata==1.3.4
tabulate==0.9.0
tacoreader==0.5.6
tacotoolbox==0.5.2
tcolorpy==0.1.7
tenacity==9.1.2
tenacity==8.5.0
tensorboard==2.20.0
tensorboard_data_server==0.7.2
tensorflow_cpu==2.20.0
tensorizer==2.10.1
termcolor==3.3.0
terminado==0.18.1
terrakit==0.1.4
terratorch==1.2.1
thinc==8.3.10
threadpoolctl==3.6.0
tifffile==2026.1.14
tifffile==2026.1.28
tiktoken==0.12.0
timm==1.0.24
tinycss2==1.4.0
tokenizers==0.22.2
toml==0.10.2
tomli==2.4.0
tomli_w==1.2.0
tomlkit==0.13.3
tomlkit==0.14.0
toolz==1.1.0
torch==2.9.1
torchao==0.15.0+git
torchaudio==2.9.1
torchgeo==0.8.1
torchmetrics==1.8.2
torchvision==0.24.0
torchvision==0.24.1
tornado==6.5.4
tqdm==4.67.1
tqdm==4.67.3
tqdm_multiprocess==0.0.11
training_hub==0.5.0
traitlets==5.14.3
transformers==4.57.5
transformers==4.57.3
transformers==4.57.6
transformers==5.0.0
tree_sitter==0.25.2
tree_sitter_c==0.24.1
tree_sitter_java==0.23.5
tree_sitter_java_orchard==0.4.2
tree_sitter_javascript==0.25.0
tree_sitter_python==0.25.0
tree_sitter_typescript==0.23.2
triton==3.5.0
triton==3.5.1
tritonclient==2.63.0+rhai1
trl==0.27.0
trl==0.24.0
trove_classifiers==2025.12.1.14
trove_classifiers==2026.1.12.15
trove_classifiers==2026.1.14.14
trove_classifiers==2026.5.22.10
trustyai==0.6.3
twine==6.2.0
ty==0.0.9
ty==0.0.10
ty==0.0.11
ty==0.0.12
typeguard==4.4.4
typepy==1.3.4
typer==0.19.2
typer==0.21.1
typer_slim==0.21.1
typeshed_client==2.8.2
types_psutil==7.2.1.20251231
types_psutil==7.2.1.20260116
types_setuptools==80.9.0.20251223
typing_extensions==4.15.0
typing_inspect==0.9.0
typing_inspection==0.4.2
tyro==1.0.5
tzdata==2025.3
ujson==5.11.0
unsloth==2026.1.3
unsloth_zoo==2026.1.3
uri_template==1.3.0
urllib3==1.26.20
urllib3==2.6.2
urllib3==2.3.0
urllib3==2.6.3
urllib3==2.7.0
userpath==1.9.2
utm==0.8.1
uuid_utils==0.12.0
uuid_utils==0.13.0
uv==0.9.22
uv==0.9.24
uv==0.9.25
uv==0.9.26
uv_build==0.8.24
uv_dynamic_versioning==0.12.0
uv_dynamic_versioning==0.13.0
uvicorn==0.34.0
uvicorn==0.40.0
uvicorn_worker==0.3.0
uvloop==0.22.1
vcs_versioning==1.1.1
versioneer==0.28
versioneer==0.29
virtualenv==20.35.4
virtualenv==20.36.0
virtualenv==20.36.1
vllm==0.13.0+rhai11
wandb==0.21.1
wasabi==1.1.3
watchdog==6.0.0
watchfiles==1.1.1
wcwidth==0.2.14
weasel==0.4.3
webcolors==25.10.0
webencodings==0.5.1
websocket_client==1.9.0
websockets==15.0.1
websockets==16.0
werkzeug==3.1.4
werkzeug==3.1.5
whatthepatch==1.0.7
wheel==0.45.1
wheel==0.46.3
widgetsnbextension==4.0.15
word2number==1.1
wrapt==1.17.3
wrapt==2.0.1
wrapt==1.17.3
wrapt==2.0.1
wrapt==2.1.1
xarray==2025.11.0
xarray==2026.1.0
xformers==0.0.33.post2
xgboost==3.1.2
xgboost==3.1.3
xgrammar==0.1.27
xlsxwriter==3.2.9
xxhash==3.6.0
xyzservices==2025.11.0
yapf==0.43.0
yarl==1.22.0
yaspin==3.4.0
zipp==3.23.0
zope_event==6.1
zope_interface==8.1.1
zope_interface==8.2
zstandard==0.25.0
