-----BEGIN CERTIFICATE-----
MIIEyzCCAzOgAwIBAgIRAM9eKHUO+0UhzGvvbztIl7wwDQYJKoZIhvcNAQELBQAw
gc0xHjAcBgNVBAoTFW1rY2VydCBkZXZlbG9wbWVudCBDQTFRME8GA1UECwxIcGV0
b19wcml2QHBzY2hyaW1wLXRoaW5rcGFkeDFjYXJib25nZW4xMS50cGJjLmNzYiAo
UGV0ZXIgU2NocmltcGVsIHByaXYpMVgwVgYDVQQDDE9ta2NlcnQgcGV0b19wcml2
QHBzY2hyaW1wLXRoaW5rcGFkeDFjYXJib25nZW4xMS50cGJjLmNzYiAoUGV0ZXIg
U2NocmltcGVsIHByaXYpMB4XDTI2MDEwMjE2NTEwM1oXDTI4MDQwMjE1NTEwM1ow
fDEnMCUGA1UEChMebWtjZXJ0IGRldmVsb3BtZW50IGNlcnRpZmljYXRlMVEwTwYD
VQQLDEhwZXRvX3ByaXZAcHNjaHJpbXAtdGhpbmtwYWR4MWNhcmJvbmdlbjExLnRw
YmMuY3NiIChQZXRlciBTY2hyaW1wZWwgcHJpdikwggEiMA0GCSqGSIb3DQEBAQUA
A4IBDwAwggEKAoIBAQC8cku3Yi3PPfPK/iQM4vxaaTC3tAjVlX3Vo/UcWaTE2Bz6
ySPlZskDobjjAynoZFT3lUZs66mcYulJDpVS+ye7XkmioMvkNfHZjJklxvouTMut
HinRl4qtXTNDJ6e+7ofgYt43/VcYzBw5H37/PnFljMIfLbbCjgpifq+VCshZiQlg
/dlKkhvL0e2KB8dNmQy5pPsVQ1pE0Od7lJBJVzA6AvdRjtIOtHw+lHBCXX0uObq/
l1zvPok7csZ2KWCET8myA5fPyFUUICgt63I0eCbI19Y87ggehFJQkE6mudIcPsB5
7yBU1rQprZHkz0+PzuSmBXD/7KxoCAXnRce9s0+BAgMBAAGjdjB0MA4GA1UdDwEB
/wQEAwIFoDATBgNVHSUEDDAKBggrBgEFBQcDATAfBgNVHSMEGDAWgBQfhmZmFE+4
pdhg6d+R0XD8jKt7jjAsBgNVHREEJTAjgglsb2NhbGhvc3SHBH8AAAGHEAAAAAAA
AAAAAAAAAAAAAAEwDQYJKoZIhvcNAQELBQADggGBAIhTEoHPpwhtPp76vHEq3PAe
6w8MF17Y/6ZM5Z54URpVPpud4QxNf/Y9K3c5/iQcC6mfLp4UuzPuVHlIXbZjPJsG
+9MdWoBIiSVywCNPiKV0voaKTnMiMD6DTTvFixpwxZdT7K2pUeKJcejw9kVp3AlM
VlR+jEEwS6v3OiFfcAEBOsXdy9l6tMX9oZoFG5ypG+lh2saSU0m9ZgXTfBv10c3t
IyYpg83PUDcFb4aIiGJ5uzarkdLoj4TqvOrUA7WtgbuyZ9MSktCJ2Ly14eLMsyHP
Rj+KPhgAVwbqoDfxwlNoQtBq2nZJT/JV6KlbIUMvwo8txXwIJWtYL5Q+i95k8/R5
WIkfgvGz/rofjSD5LLuG6mozXSgrTbuQ0PffDHN7ffavLakYLv+iLzcKgJyi3bVt
rLafs1ng6J43AyMdvWE9wrc4JL8yGSg6fiu3u6/brytnsTqzWpfFQOsLHDEKIy3Y
wNy0BkzBkpFpCYYO7IbwDPF2DJBk6kHDASdRbcQYHA==
-----END CERTIFICATE-----
